html {
  background-color: pink;
  font-size: 14px;
  font-family: "Open Sans", sans-serif
}
p, {
  color: blue;
  line-height: 2;
}
ul {
  color: teal;
  border: 3px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
.quote{
	color:maroon;
}